#  1.2 Exercise: Exploring a Pandas Data Frame

In [1]:
# 1 Load csv Video Games Sales with Ratings
import pandas as pd
df_video_games = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

In [2]:
# 2 Show first 10 Rows
df_video_games.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# 3 Show Dimensions of df
df_video_games.shape
# There are 16,719 rows and 16 columns in the dataframe.

(16719, 16)

In [27]:
# Top 5 games by critic score
# To account for duplicates, must print out first 7 entries
df_video_games[['Name', 'Critic_Score']].sort_values(by='Critic_Score', axis=0, ascending=False).head(7)

                          Name  Critic_Score
227   Tony Hawk's Pro Skater 2          98.0
57         Grand Theft Auto IV          98.0
51         Grand Theft Auto IV          98.0
5350               SoulCalibur          98.0
165         Grand Theft Auto V          97.0
23          Grand Theft Auto V          97.0
1877                   NFL 2K1          97.0

In [30]:
# 6 First 5 games on SNES platform...with both columns shown
df_video_games[['Name', 'Platform']][df_video_games['Platform'] == 'SNES'].head()

                                     Name Platform
18                      Super Mario World     SNES
56                  Super Mario All-Stars     SNES
71                    Donkey Kong Country     SNES
76                       Super Mario Kart     SNES
137  Street Fighter II: The World Warrior     SNES

In [32]:
# 5 Number of video games in each genre
df_video_games.Genre.value_counts()

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64

In [33]:
# 6 First 5 games on SNES platform...with both columns shown
df_video_games[['Name', 'Platform']][df_video_games['Platform'] == 'SNES'].head()

                                     Name Platform
18                      Super Mario World     SNES
56                  Super Mario All-Stars     SNES
71                    Donkey Kong Country     SNES
76                       Super Mario Kart     SNES
137  Street Fighter II: The World Warrior     SNES

In [9]:
# 6 First 5 games on SNES platform
df_video_games['Name'][df_video_games['Platform'] == 'SNES'].head()

18                        Super Mario World
56                    Super Mario All-Stars
71                      Donkey Kong Country
76                         Super Mario Kart
137    Street Fighter II: The World Warrior
Name: Name, dtype: object

In [10]:
# 7 Five publishers with highest total global sales
df_video_games[['Publisher', 'Global_Sales']].groupby('Publisher').sum().sort_values(by='Global_Sales', ascending=False).head()

                             Global_Sales
Publisher
Nintendo                          1788.81
Electronic Arts                   1116.96
Activision                         731.16
Sony Computer Entertainment        606.48
Ubisoft                            471.61

In [38]:
# 8 Create new column displaying percentage of global sales from North America
na_sales_share = (df_video_games['NA_Sales'] / df_video_games['Global_Sales'] * 100).astype(str) + '%'
df_video_games['NA_Sales_Share'] = na_sales_share
df_video_games.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,NA_Sales_Share,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Sales_Share
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,50.11510965709439%,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,50.11510965709439%
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,72.26640159045725%,3.58,6.81,0.77,40.24,NaN,NaN,7.5,NaN,NaN,NaN,72.26640159045725%
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,44.144144144144136%,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.144144144144136%
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,47.63503204150137%,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,47.63503204150137%
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,35.92604399107427%,8.89,10.22,1.00,31.37,NaN,NaN,7.5,NaN,NaN,NaN,35.92604399107427%

In [39]:
# Insert new column right after NA_Sales for easier visualization
df_video_games.insert(6, 'NA_Sales_Share', na_sales_share, True)
df_video_games.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,NA_Sales_Share,NA_Sales_Share,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Sales_Share
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,50.11510965709439%,50.11510965709439%,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,50.11510965709439%
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,72.26640159045725%,72.26640159045725%,3.58,6.81,0.77,40.24,NaN,NaN,7.5,NaN,NaN,NaN,72.26640159045725%
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,44.144144144144136%,44.144144144144136%,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.144144144144136%
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,47.63503204150137%,47.63503204150137%,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,47.63503204150137%
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,35.92604399107427%,35.92604399107427%,8.89,10.22,1.00,31.37,NaN,NaN,7.5,NaN,NaN,NaN,35.92604399107427%

In [40]:
# 9 Number of NAN values in each column
df_video_games.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
NA_Sales_Share        0
NA_Sales_Share        0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score            0
User_Count         9129
Developer          6623
Rating             6769
NA_Sales_Share        0
dtype: int64

In [41]:
# 10 Median user score of all video games
df_video_games['User_Score'] = pd.to_numeric(df_video_games['User_Score'], errors = 'coerce')
median_score = df_video_games['User_Score'].median()

In [42]:
median_score

7.5

In [43]:
# Express NANs with median value
import numpy as np
df_video_games['User_Score'] = df_video_games['User_Score'].replace(np.nan, median_score)
df_video_games['User_Score'].head(18)

0     8.0
1     7.5
2     8.3
3     8.0
4     7.5
5     7.5
6     8.5
7     6.6
8     8.4
9     7.5
10    7.5
11    8.6
12    7.5
13    7.7
14    6.3
15    7.4
16    8.2
17    9.0
Name: User_Score, dtype: float64